

<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <title>First JS</title>

</head>

<body>

    <script src="myController.js"></script>

    <!--  Sample 1 --

    <div ng-app="">

        <p>Input something in the input box2:</p>
        <p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
        <h1>Hello {{name}}</h1>

        <h2 ng-bind="name"></h2>

        <p>My first expression: {{ 5 + 5 }}</p>

    </div>

    <p>My first expression: {{ 5 + 5 }}</p>

    -->
    <!----------------------------------------------->
    <!--  Sample 2 --

    <div ng-app="myApp" ng-controller="myCtrl">

        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
        });
    </script>

    -->
    <!----------------------------------------------->
    <!-- The [] parameter in the module definition can be used to define dependent modules.
         Without the [] parameter, you are not creating a new module, but retrieving an existing one.

        Create New Directives
        In addition to all the built-in AngularJS directives, you can create your own directives.

        New directives are created by using the .directive function.

        To invoke the new directive, make an HTML element with the same tag name as the new directive.

        When naming a directive, you must use a camel case name, w3TestDirective, but when invoking it, you must use - separated name, w3-test-directive:
    -->
    <!--  Sample 2 --

    <div ng-app="myApp" w3-test-directive></div>

    <script>
        var app = angular.module("myApp", []);
        app.directive("w3TestDirective", function () {
            return {
                template: "<h2>Made by a directive!</h2>"
            };
        });
    </script>
    -->
    <!--
    <div ng-app="" ng-init="names=['Jani','Hege','Kai']">
        <ul>
            <li ng-repeat="x in names">
                {{ x }}
            </li>
        </ul>
    </div>
    -->
    <!--
    <div ng-app="myApp" ng-controller="myCtrl">
        <h1 ng-click="changeName()">{{firstname}} {{lastname}}</h1>
        <br>{{fullname()}}
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstname = "John";
            $scope.lastname = "Smith";

            $scope.changeName = function () { $scope.firstname = "Nelly"; };


        });
    </script>
    <p>Click on the header to run the "changeName" function.</p>

    <p>This example demonstrates how to use the controller to change model data.</p>
    -->
    <!--
    <div ng-app="myApp" ng-controller="myCtrl">
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        {{fullName()}}
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstname = "John";
            $scope.lastname = "Smith";

            $scope.fullName = function () {return $scope.firstName + " - " + $scope.lastName;};

        });
    </script>
    -->
    <!--
        If we consider an AngularJS application to consist of:

        View, which is the HTML.
        Model, which is the data available for the current view.
        Controller, which is the JavaScript function that makes/changes/removes/controls the data.

        Then the scope is the Model.

        The scope is a JavaScript object with properties and methods, which are available for both the view and the controller.
    -->
    <!-- <div ng-app="myApp" ng-controller="myCtrl"> -->
    <div ng-app="myApp1" ng-controller="myCtrl1">

        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>

        <span>Span Name: {{fullName()}}</span>

        <br>
        Full Name: {{fullName()}}

        <br>
        Full Name2: {{fullName2()}}

        <br>
        <ul>
            <li ng-repeat="x in names">{{ x }}</li>
        </ul>

        <br>
        <table border="1" width="50%">
            <tr>
                <th ng-click="orderByMe('name')">Name</th>
                <th ng-click="orderByMe('country')">Country</th>
            </tr>
            <tr ng-repeat="x in names2 | orderBy:myOrderBy">
                <td>{{x.name}}</td>
                <td>{{x.country}}</td>
            </tr>
        </table>

        <br>
        <br>
        <p>Today's welcome message is:</p>

        <p>Message: {{mess}}</p>
        <p>Data : {{content}}</p>
        <p>Status : {{statuscode}}</p>
        <p>StatusText : {{statustext}}</p>

        <p>{{myData}}</p>
        <ul>
            <li ng-repeat="x in myData">
                {{ x.Name + ', ' + x.Country }}
            </li>
        </ul>

    </div>



    <div ng-app="myApp2" ng-controller="myCtrl2">
        First Name: <input type="text" ng-model="firstName3"><br>
        Last Name: <input type="text" ng-model="lastName3"><br>
    </div>





    <!-- You can put myAPP in the body tag above -->
    <!--<div ng-app="myApp2" ng-controller="myCtrl2"> -->
    <!--<div ng-app="myApp2" ng-controller="myCtrl2">

        <br>
        First Name: <input type="text" ng-model="firstName2"><br>
        Last Name: <input type="text" ng-model="lastName2"><br>
        <br><br>
        Full Name: {{fullName2()}}

    </div>-->
    <!--  See myController.js for the same code using controller file --
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";

            $scope.fullName = function () {return $scope.firstName + " - " + $scope.lastName;};
        });
    </script>
    -->
    <!--<div ng-app="myApp3" ng-controller="myCtrl3">-->
    <!--<div ng-app="myApp3" ng-controller="myCtrl3">

        <ul>
            <li ng-repeat="x in names">{{ x }}</li>
        </ul>

    </div>-->
    <!--<div ng-app="myApp4" ng-controller="namesCtrl">

        <table border="1" width="100%">
            <tr>
                <th ng-click="orderByMe('name')">Name</th>
                <th ng-click="orderByMe('country')">Country</th>
            </tr>
            <tr ng-repeat="x in names | orderBy:myOrderBy">
                <td>{{x.name}}</td>
                <td>{{x.country}}</td>
            </tr>
        </table>

    </div>-->
    <!--<ul ng-app="myApp5" ng-controller="namesCtrl2">
        <li ng-repeat="x in names">
            {{x | myFormat}}
        </li>
    </ul>-->
    <!--<div ng-app="myApp6" ng-controller="myCtrl6">

        <p>Today's welcome message is:</p>

        <h1>{{myWelcome}}</h1>

    </div>-->


</body>
</html>


